@import "../scss/mixins.scss";

.panel {
  border: 1px solid #dce0e0;
  background-color: white;
  margin: 24px 0 0;
}

.panel-header {
  padding: 12px 20px;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
  background-color: #edefed;
}

.panel-body {
  background-color: white;
  padding: 0 20px;
}

.review-list li {
  width: 100%;
  border-bottom: 1px solid #dce0e0;
  padding: 30px 0;
}

.review-list {
  list-style-type: none;
}

.review-list li:last-child {
  border: none;
}

.acc-title {
  @include undecorated__link(rgba(0, 0, 0, 0.87), #ff385c);
  font-weight: bold;
}
