.avatar__button{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgrey;
    border-radius:10rem;
    outline: none;
}
.MuiPaper-root{
   top: 100px;
    
}
.profilePicture{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}