@import "../scss/mixins.scss";

.accommodation__page{
   @include flex__center;
    position: relative;
}

.accommodation__pageContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1vh;
    h2{
        font-weight: 500;
    }
}  
.rating{
        display: flex;
        align-items: center;
        padding-bottom: 2vh;
        padding-top: 0.6vh;
        .searchResult__star{
            color: red;
        }
        p{
            padding-left: 0.3vw;
        }
    }

.gallery{
    @include flex__center;
    padding-bottom:4vh;
    .mainPicture{
        flex: 0.5;
        padding-right: 0.5vw;
        img{
            width: 100%;
            height: 45vh;
            border-radius: 10px;
        }
    }
    .secondaryPicture{
        .firstBlock .secondBlock{
            display: flex;
            flex-direction: column;
            // margin-right: 0.2vw;
        }
        display: flex;
        flex: 0.5;
        img{
            height: 22.5vh;
            width: 15vw;
            border-radius: 16px;
            padding-left: 0.1vw;
        }
    }
}
.scroll__container{
    display: flex;
    .accommodation__side{
        display: flex;
        flex-direction: column;
        flex: 0.5;
        .host__info{
            border-bottom: 1px solid lightgray;
            margin-bottom: 2vh;
            h3{
                font-size: 1.4rem;
                font-weight: 500;
                padding-bottom: 1vh;
            }
            .apartman__info{
                display: flex;
                padding-bottom: 2vh;
                h5{
                    font-size: 1rem;
                    font-weight: 400;
                    padding-right: 0.2vw;
                }
            }
        }
        .accommodation__description{
            padding-bottom: 5vh;
        }
        .sleepingPossibilities{
            
        }
    }
}
.calendar__container{
    display: flex;
    flex-direction: column;
}
.accomodation__map{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    width: 100%;
    height: 500px;
}
.paymentCard{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    position: sticky;
    top: 10vh;
    margin-bottom: 1vh;
    .card__title{
        display: flex;
        justify-content: space-between;
        padding: 1vh;
    }
    .card__input{
        display: flex;
        flex-direction: column;
        border: 1.5px solid lightgray;
        border-radius: 8px;
        .chooseDate{
            display: flex;
            .startDate{
                border-right: 1.5px solid lightgray;
            }
        }
        .pickGuests{
            border-top: 1.5px solid lightgray;
        }
    }
    .rentButton{
      background-image:radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
      color: white !important;
      font-size: 500;
      font-weight: bold;
      text-transform: none;
    }
}